{% extends "core/base.html" %}
{% block content %}
    <p>Fill following form to apply a vacancy:</p>
    <br />
    <h3>Position: {{ vacancy.position|capfirst}}</h3>
    <h3>Company name: {{ vacancy.company|capfirst}}</h3>

        {% if form.is_multipart %}
            <form enctype="multipart/form-data" method="post" action="{% url 'apply' id%}">
        {% else %}
            <form method="post" action="{% url 'apply' id%}">
        {% endif %}
        {% csrf_token %}
        {{ form.as_p }}
        <br />
        <br />
        <input type="submit" value="Apply" />
    </form>
{% endblock content %}
