{% extends "core/base.html" %}
{% block content %}
    <h1>{{ vacancy.position }}</h1>
    <p>Company name: {{ vacancy.company }}</p>
    <p>Expected experience: {{ vacancy.experience }}</p>
    <p>Level: {{ vacancy.level }}</p>

    {% if not vacancy.salary_min and vacancy.salary_max %}
        <p>Salary: up to {{ vacancy.salary_max }}</p>
    {% elif vacancy.salary_min and not vacancy.salary_max %}
        <p>Salary: from {{ vacancy.salary_min }}</p>
    {% elif vacancy.salary_min and vacancy.salary_max %}
        <p>Salary: {{ vacancy.salary_min }} - {{ vacancy.salary_max }}</p>
    {% elif not vacancy.salary_min and not vacancy.salary_max %}
        <p>Salary: not specified</p>
    {% endif%}
    <a href="{% url 'apply' vacancy.id %}"><button>Apply</button></a>

{% endblock content %}
